<h1>Formulario imagen</h1>
<form action="/formulario" method="post" enctype="multipart/form-data">
    <label for="imagen">
    </label>
    <input name='imagen' id='imagen' type="file">
        <button type="submit">Submit</button>
</form>
{{#if data.imagen}}
<img src='imagenes/{{data.imagen}}' alt="">
{{/if}}