<form action="teamAdd"  method="post" enctype="multipart/form-data">
<div>
    <label for="">Club Crest</label>
    <div>
        <input type="file" name="clubCrest" placeholder="Club Crest">
    </div>
</div>

<div>
    <label for="">Club name</label>
    <div>
        <input type="text" name="clubName" placeholder="Arsenal FC">
    </div>
</div>

<div>
    <label for="">Name</label>
    <div>
        <input type="text" name="name" placeholder="Arsenal">
    </div>
    
</div>
    
<div>
    <label for="">Country</label>
    <div>
        <input type="text" name="country" placeholder="England">
    </div>
</div>

<div>
    <label for="">Foundation</label>
    <div>
        <input type="text" name="foundation" placeholder="1886">
    </div>

</div>

<div>
    <label for="">Venue</label>
    <div>
        <input type="text" name="venue" placeholder="Emirates Stadium">
    </div>
    
</div>

<div>
    <label for="">Address</label>
    <div>
        <input type="text" name="address" placeholder="75 Drayton Park London N5 1BU">
    </div>
</div>

<div>
    <label for="">Website</label>
    <div>
        <input type="text" name="website" placeholder="http://arsenal.com">
    </div>
</div>
   
<div>
    <label for="">Email</label>
    <div>
        <input type="text" name="email" placeholder="info@arsenal.co.uk">
    </div>
</div>
    <button type="submit">Submit</button>
</form>