<table>
    <tr>
        <td>Crest</td>
        <td>    
            Arsenal
        </td>
        <td>
            England
        </td>
        <td>
            <button>Edit</button>
            <button>View</button>
            <button>Delete</button>
        </td>
    </tr>
</table>